navbar-default{
   border:none;
}

.navbar {
  margin-bottom: 0 !important;
}

/*.navbar {
  margin-bottom: 0px;
}*/

div.dashboard {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  min-width: 1210px;
  min-height: 720px;
}

div.dashboard.old {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
  min-width: 1210px;
  min-height: 720px;
}

div.outer {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
}

#home {
  background-color: white;
  padding: 20px 20px 0 20px;
  opacity: 0.9;
}


#controls {
  background-color: white;
  cursor: move;
  opacity: 0.9;
  padding: 20px 20px 20px 20px;
}

#logo {
  background-color: transparent;
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 300ms;
}

#logo:hover {
  opacity: 1;
  transition-delay: 0;
}

#no_data { 
  margin: 0 auto;
}

#dropdown {
z-index: 100000;
}